* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.icon {
    cursor: pointer;
}

.main-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#input {
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    padding: 8px 4px;
    width: 250px;
}

#input:focus {
    outline: none;
    border-bottom-color: #007bff;
}

.add-btn {
    background-color: rgb(56, 56, 56);
    border: none;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 28px;
    border-radius: 10px;
    transition-duration: 400ms;
    color: white;
}

.add-btn:hover {
    transform: scale(1.1);
}

.todoList {
    margin: 10px 0;
    max-height: 350px;
    overflow-y: auto;
    height: 200px;
    padding: 8px;

}

.todoList > li {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.del-All-btn {
    border: none;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}